# DumpState
# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.nomedia

# Metadata
*.aliases
*.lvlps
.cache/
.jpeg
.png
.webm
.obb
.data
.online
